

.navigation{
    background-color: #282828;
    padding: 5px;
    transition: all 0.4s ease;
}


.navigationDiv{
    width: 45%;
    display: flex;
    justify-content: space-evenly;
}

.navigationTitle{
    color: beige;
    font-size: 0.9rem;
    width: 100%;
}

.logoDiv{
    position: relative;
    width: 10%;
    display: flex;
    justify-content: center;
    height: 80px;
 
}

.logo{
    position: absolute;
    top: -50px;
    left: 10px;
    width: 200px;
}

.logoSticky{
    position: absolute;
    width: 100px;
    top: -10px;
}

.sticky {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.4s ease;
    z-index: 1000;
    padding: 15px;
}

.stickyNavLinks{
    margin: 0px 15px;
}

.subNavigation{
    background-color: #3465A4;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 4px;
    min-width: 200px;
    z-index: 10000;
 
}

.subLink{
    border-bottom: 1px solid grey;
    width: 100%;
    padding: 10px 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.subLink:hover{
    background-color: darkblue;
}

.subSubNavigation{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 105px;
    width: 100%;
    height: 9vh;
    left: 0;
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.loginDiv{
    width: 100px;
    margin: 0px 10px;
}


.sponsorBannerDiv {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 90%;
    overflow: hidden; 
}

.sponsorSlides {
    display: flex;
    transition: transform 0.5s ease-in-out; 
}

.sponsorSlide {
    min-width: 100%; 
    height: 100%;
}


@media screen and (max-width: 1000px) {

    .navigation{
        flex-direction: column;
    }

    .navigationDiv{
        margin: 0;
        display: none;
    }

    .logoDiv{
        width: 100%;
        height: 50px;
    }

    .logo{
        width: 90px;
        height: 90px;
        top: -20px;
        left: -20px;
    }
   
    .navigationTitle{
        margin:0;

    }

    .logoSticky{
        z-index: 1000;
        width: 70px;
    }
    .subSubNavigation{
        top: 75px;
    }
    
}