

.container{
    background-color: #E5E5E5;
    min-height: 100vh;
    display: flex;
}


.button {
    color: darkblue;
    padding: 10px 15px; 
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    border: 1px solid darkblue;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: white;
}

.button:hover {
    color: beige;
    background-color: darkblue;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
    transform: translateY(-2px); 
}


.inlineBlock {
    display: inline-block; 
    margin: 0; 
    text-align: justify;
    margin: 5px 0px;
}

.boxShadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
}
