

.container{
    background-color: #E5E5E5;
    min-height: 100vh;
    display: flex;
}


.button {
    color: darkblue;
    padding: 10px 15px; 
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 0.8rem;
    transition: all 0.3s ease-in-out;
    border: 1px solid darkblue;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: white;
}

.button:hover {
    color: beige;
    background-color: darkblue;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
    transform: translateY(-2px); 
}


.inlineBlock {
    display: inline-block; 
    margin: 0; 
    text-align: justify;
    margin: 5px 0px;
}

.subContainer{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s ease; 
    width: 80%;
}



.loadingTitle{
    font-size: 2rem;
    z-index: 1000;
    margin-right: 10px;
    margin-top: 20px;
}

.loadingSpinner {
    border: 8px solid rgba(0, 0, 0, 0.1); 
    border-left-color: #000; 
    border-radius: 50%;
    width: 40px; 
    height: 40px; 
    animation: spin 1s linear infinite;
    margin-top: 20px;
    z-index: 1000;
}


.sidebar {
    width: 20%;
}


@keyframes spin {
    to {
        transform: rotate(360deg); 
    }
}


@media screen and (max-width: 1200px){
    .container{
        flex-direction: column-reverse;
    }

    .subContainer{
        width: 100%;
    }

    .sidebar {
        width: 100%; 
    }
}