
/*NextGame.module.css*/

/* NextGame.module.css */

.image {
    object-fit: cover;
    width: 400px;
    height: 100%;
}

.container {
    height: 8rem; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem; 
    overflow: hidden;
}

@media (max-width: 1200px) {
    .container {
        height: 100%; 
    }
}
